@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root{
  /* Primary */
  --ScissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  /* Neutral */
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);

  /* Background */
  --RadialGradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
body {
  display: flex;
  flex-direction: column;
  padding: 10%;
  min-height: 100vh;
  background: hsl(214, 47%, 23%);
  background: linear-gradient(180deg, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
}
.score_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border: 3px solid var(--HeaderOutline);
  border-radius: 10px;
}
.score_container ul{
  color: white;
  list-style: none;
  line-height: 0.8rem;
}
.scoreDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--DarkText);
}
.scoreDisplay :first-child{
  font-size: 0.8rem;
  color: var(--ScoreText);
}
.scoreDisplay p{
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--DarkText);
}
.buttons_container{
  position: relative;
}
.pentagon{
  width: 18em;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,50%);
}
.bg{
  background-color: white;
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.bg-scissors{
  border: 0.8em solid hsl(40, 84%, 53%);
  box-shadow: 0 6px 0 0 hsl(39, 89%, 49%), inset 0 7px 3px var(--HeaderOutline);
}
.bg-paper{
  border: 0.8em solid hsl(230, 89%, 65%);
  box-shadow: 0 6px 0 0 hsl(230, 89%, 62%), inset 0 7px 3px var(--HeaderOutline);
}
.bg-rock{
  border: 0.8em solid hsl(349, 70%, 56%);
  box-shadow: 0 6px 0 0 hsl(349, 71%, 52%), inset 0 7px 3px var(--HeaderOutline);
}
.bg-lizard{
  border: 0.8em solid hsl(261, 72%, 63%);
  box-shadow: 0 6px 0 0 hsl(261, 73%, 60%), inset 0 7px 3px var(--HeaderOutline);
}
.bg-spock{
  border: 0.8em solid hsl(189, 58%, 57%);
  box-shadow: 0 6px 0 0 hsl(189, 59%, 53%), inset 0 7px 3px var(--HeaderOutline);
}
.bg-loading{
  background-color: #192845;
}

.img-item{
  width: 2.5em;
}
.buttons_container .scissors, 
.buttons_container .paper,
.buttons_container .rock,
.buttons_container .lizard,
.buttons_container .spock
{
	top: 0%;
	left: 50%;
	position: absolute;
	cursor: pointer;
}

.buttons_container .scissors{
	transform: translate(-45%, 105%);
}

.buttons_container .paper{
	transform: translate(70%, 210%);
}

.buttons_container .rock{
	transform: translate(33%, 370%);
}

.buttons_container .lizard{
	transform: translate(-145%, 370%);
}

.buttons_container .spock{
	transform: translate(-180%, 210%);
}
.pickedModal{
  display: flex;
  justify-content: space-between;
  width: 18em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,50%);
}
.pickedModal .bg{
  width: 8em;
  height: 8em;
}
.pickedModal .bg .img-item{
  width: 3em;
}
.pickedModal p{
  color: white;
  text-align: center;
  margin-top: 15px;
}

footer{
  position: fixed;
  bottom: 15%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_rules{
  position: absolute;
  transform: translate(-50%,50%);
  background: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  padding: 20px 40px;
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes reveal {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rules_modal{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  animation: reveal 500ms;
}
.rules_modal h2{
  color: var(--DarkText);
  font-size: 2rem;
  font-weight: 700;
}
.icon_close{
  cursor: pointer;
}

@media (min-width: 600px) {
  .score_container{
    margin: auto;
    max-width: 500px;
    justify-content: space-between;
  }
  .rules_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
  }
  .rules_modal{
    gap: 20px;
    width: 500px;
    height: 480px;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 10px;
    padding: 20px 10px;
  }
  footer{
    right: 0;
  }
}